@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

:root {
    /* font-family */
    --roboto : 'Roboto', sans-serif;

    /* colors */

    --color-bg: rgb(117,121,231);
    --color-dos: rgb(154,179,245);
    --color-tres: rgb(163,216,244);
    --color-cuatro: rgb(185,255,252);
    --color-text: rgba(0,0,0,0.7)

}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-dos);
    color: var(--color-text);
    font-family: var(--roboto);
}
/*Barra de navegación*/
.navbar {
    background-color: var(--color-dos);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.navbar-brand {
    font-weight: 900;
}
.nav-item {
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.2s ease-in-out;
}
.nav-item:hover {
    border-bottom-color: var(--color-bg);
}
/*Barra de navegación*/

main {
    background-color: var(--color-bg);
    padding-top: 68px;
}
.titulo {
    font-weight: 700;
}

.img-fluid {
    object-fit: cover;
}

footer {
    background-color: var(--color-bg);
}

li {
    display: block;
    margin-bottom: 10px;
}

/* Contacto.html */

.input {
    position: relative;
}

.input::after {
    content: '* Ingrese la información requerida';
    position:relative;
    top: -15px;
    left: 0;
    color: var(--color-cuatro);
    display: none;
}
.invalid::after {
    display: block;
}

/* Section Productos */
.img-fluid {
    object-fit: contain;
}
/*Formulario de contacto*/
.input {
    margin:auto;
}

.form-control {
    display: block;
    min-width: 50%;
    max-width: 400px;
}
.form-label {
    font-size: large;
    font-weight: bold;
}
/*Formulario de contacto*/

/* <separacion del navbar con las secciones*/

#somos{
    scroll-margin-top: 50px;
}

#productos{
    scroll-margin-top: 100px;
}

/* separacion del navbar con las secciones>*/


  